<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    <img src="cam3.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Frete Fácil
  </a>
  <b class="text-white" >Exibição de Caminhões</b>
  <form class="form-inline">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar Caminhões</button>
  </form>
</nav>
<!------ Include the above in your HEAD tag ---------->
<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.4.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#reserved-urls -->
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
<div class="panel-heading">
			</div>
      <div id="login">
          <div class="container">
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                      <h5 class="text-center text-info"></h5>
                          <form id="login-form" class="form" action="" method="post">
                              <h3 class="text-center text-info"></h3>
                              <tr *ngFor="let caminhao of caminhoes | filter:filter; let i = index">
                                        <div class="form-group">
                                            <label for="username" class="text-info">Tipo de Caminhão: </label> &nbsp;
                                            <td><b>{{caminhao.tipo_de_caminhao}}</b></td>
                                        </div>
                                        <div class="form-group-desc">
                                            <label for="username" class="text-info" >Descrição: </label> &nbsp;
                                            <td><b>{{caminhao.descricao}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Cidade: </label> &nbsp;
                                            <td><b>{{caminhao.cidade}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Estado: </label> &nbsp;
                                            <td><b>{{caminhao.estado}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">CEP: </label> &nbsp;
                                            <td><b>{{caminhao.cep}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Peso: </label> &nbsp;
                                            <td><b>{{caminhao.peso_max}}</b></td>
                                        </div>
                                        <p><b>--------------------------------------------------------------------------</b></p>
                              </tr>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</body>
