/* navbar */

.navbar-default {
    background-color: rgb(255, 255, 255)(255, 255, 255, 0);
    border-color: rgb(255, 255, 255)(255, 255, 255, 0);
}


/* title */

.navbar-default .navbar-brand {
    color: rgb(255, 255, 255)(51, 51, 51, 0);
    image: url('cam3.ico');
    /* image: url('cam3.jpg'); */
}

body {
    background-image: url('cam3.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 0vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
}

#cadastro .container #cadastro-row #cadastro-column #cadastro-box {
    margin-top: 200px;
    max-width: 600px;
    height: 320px;
    background-color: rgba(215, 214, 218, 0.438);
}

#cadastro .container #cadastro-row #cadastro-column #cadastro-box #cadastro-form {
    padding: 20px;
}

#cadastro .container #cadastro-row #cadastro-column #cadastro-box #cadastro-form #cadastro-link {
    margin-top: -85px;
}

.btn-info {
    color: #fff;
    background-color: rgba(56, 48, 48, 0.801);
    border-color: #626666;
}

.text-info {
    color: #000000!important;
}

.cadastro {
    color: #000000!important;
}