<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    <img src="cam3.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Frete Fácil
  </a>
  <b class="text-white" >Exibição de Carga</b>
  <form class="form-inline">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar Cargas</button>
  </form>
</nav>
<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.4.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#reserved-urls -->
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
<div class="panel-heading">
			</div>
      <div id="login">
          <div class="container">
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                          <form id="login-form" class="form" action="" method="post">
                              <tr *ngFor="let carga of carga | filter:filter; let i = index">
                                        <div class="form-group">
                                            <label for="username" class="text-info">Tipo de Carga: </label> &nbsp;&nbsp;
                                            <td><b>{{carga.tipo}}</b></td>
                                        </div>

                                        <div class="form-group-desc">
                                            <label for="username" class="text-info" >Descrição: </label> &nbsp;&nbsp;
                                            <td><b>{{carga.descricao}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Cidade: </label> &nbsp;&nbsp;
                                            <td><b>{{carga.cidade}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Estado: </label> &nbsp;&nbsp;
                                            <td><b>{{carga.estado}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">CEP: </label> &nbsp;&nbsp;
                                            <td><b>{{carga.cep}}</b></td>
                                        </div>
                                        <div class="form-group">
                                            <label for="username" class="text-info">Peso: </label> &nbsp;&nbsp;
                                            <td><b>{{carga.peso}}</b></td>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="password" class="text-info">Senha:</label><br>
                                            <input type="password" name="password" id="password" class="form-control">
                                        </div> -->

                                        <!-- <div id="register-link" class="text-right">
                                            <a href="#" class="Registrar">Registrar</a>
                                        </div> -->
                                        <p><b>--------------------------------------------------------------------------</b></p>
                              </tr>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>

