<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-dark bg-dark">
    <b class="text-white">Frete Fácil</b>
    <a id="git-projeto" href="https://gitlab.com/BDAg/frete-facil"><b class="text-white">Gitlab Project</b></a>
    <b class="text-white">Seja Bem Vindo</b>
</nav>

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.4.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#reserved-urls -->
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info"></h3>
                            <div class="form-group">
                                <label for="username" class="text-info"><b>Email :</b></label>
                                <input [(ngModel)]='email' type="text" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info"><b>Senha :</b></label><br>
                                <input [(ngModel)]='password' type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Manter conectado</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <a [routerLink]="['/carga']" routerLinkActive="router-link-active" name="Entrar" class="btn btn-dark" value="Entrar" (click)='login()'>Entrar Como Caminhoneiro</a>

                                <div class="form-group">
                                    <a [routerLink]="['/caminhao']" routerLinkActive="router-link-active" name="Entrar" class="btn btn-dark" value="Entrar" (click)='login()'>Entrar Como Dono da Carga</a>
                                </div>

                            </div>
                            <div id="register-link" class="text-right">
                                <a [routerLink]="['/cadastrousuario']" routerLinkActive="router-link-active" type="button" class="Registrar" name="cadastrar" class="btn btn-dark" value="cadastrar" (click)='cadastrar()'>Registrar-se</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>