/* navbar */

.navbar-default {
    background-color: rgb(255, 255, 255)(255, 255, 255, 0);
    border-color: rgb(255, 255, 255)(255, 255, 255, 0);
    border-radius: 5%;
    margin: 5px;
}


/* title */

.navbar-default .navbar-brand {
    color: rgb(255, 255, 255)(51, 51, 51, 0);
    image: url('cam3.ico');
    /* image: url('cam3.jpg'); */
}

body {
    background-image: url('cam3.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 0vh;
    margin: 0px;
    padding: 0;
    background-color: #f3f3f300;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 200px;
    max-width: 600px;
    height: 320px;
    background-color: rgba(215, 214, 218, 0.438);
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.btn-info {
    color: #fff;
    background-color: rgba(56, 48, 48, 0.801);
    border-color: #626666;
}

.text-info {
    color: #000000!important;
}

.registrar {
    color: #991616!important;
}

a:hover {
    background-color: black;
}

.a #git-projeto {
    background: rgba(255, 255, 255, 0);
    margin: 0px;
}

.nav-footer {
    position: center;
    bottom: 0;
    width: 100%;
    color: #626666
}

nav {
    margin: 0px;
    -webkit-margin-collapse: collapse;
}