<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BOOTSTRAP CRUD LAYOUT</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">Frete Fácil</a>
    <b class="text-white">Cadastro de Caminhão</b>
</nav>

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.4.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
		https://firebase.google.com/docs/web/setup#reserved-urls -->
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <div class="container">
        <div class="panel-heading">
            <h3 class="panel-title text-center"></h3>
        </div>
        <div id="cadastro-caminhao">
            <form action="" class="form-horizontal" method="post">
                <fieldset>
                    <legend>Dados do caminhão:</legend>
                    <div class="form-group">
                        <label for="tipo" class="col-sm-2 control-label">Tipo de caminhão: </label>
                        <div class="col-sm-4">
                            <input [(ngModel)]='tipo_de_caminhao' name="tipo_de_caminhao" type="text" class="form-control" id="tipo_de_caminhao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Descrição" class="col-sm-2 control-label">Descrição: </label>
                        <div class="col-sm-4">
                            <input [(ngModel)]='descricao' name="descricao" type="text" class="form-control" id="Descrição">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Localidade: </legend>
                    <div class="form-group">
                        <label for="Cidade" class="col-sm-2 control-label">Cidade: </label>
                        <div class="col-sm-4">
                            <input [(ngModel)]='cidade' name="cidade" type="Cidade" class="form-control" id="Cidade">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="estado" class="col-sm-2 control-label">Estado: </label>
                        <div class="col-sm-4">
                            <input [(ngModel)]='estado' name="estado" type="estado" class="form-control" id="estado">
                        </div>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <label for="CEP" class="col-sm-2 control-label">CEP: </label>
                            <div class="col-sm-4">
                                <input [(ngModel)]='cep' name="cep" type="text" class="form-control" id="CEP">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="Peso Do Caminhao" class="col-sm-2 control-label">Peso Maximo:</label>
                        <div class="col-sm-4">
                            <input [(ngModel)]='peso_max' name="peso_max" type="peso_max" class="form-control" id="peso_max">
                        </div>
                    </div>
                </fieldset>

                <!-- <button type="submit" class="btn btn-primary"> -->
                <div class="form-group">
                    <a routerLink="/caminhao" type="button" class="btn btn-dark" value="cadastrar" (click)='cadastrarcaminhao()' submit=""> Enviar e Visualizar Caminhões</a>
                </div>
                <div class="form-group">
                    <a routerLink="/carga" type="button" class="btn btn-dark" value="cadastrar" (click)='cadastrarcaminhao()' submit=""> Enviar e Visualizar Cargas</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>